@import "tailwindcss";

body{
  font-family: 'Fira Code', monospace;
}

a:hover{
  border-bottom: 2px solid #3809a5;
  color: #3809a5;
  display: inline-block;
   

}
a.active{
  color: #3809a5;
  border-bottom: 2px solid #3809a5
}