@import "tailwindcss";
@import "daisyui/daisyui.css";

body{
  font-family: 'Fira Code', monospace;
  scroll-behavior: smooth;
  background: linear-gradient(135deg, #e0f7fa, #ffffff); 
}

a:hover{
  border-bottom: 2px solid #3809a5;
  color: #3809a5;
  display: inline-block;
   

}
a.active{
  color: #3809a5;
  border-bottom: 2px solid #3809a5
}